//
//  qa.xcconfig
//  iOSBoilerplate
//
//  Created by Neil Francis Hipona on 4/18/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = SwiftUI Boilerplate (qa) // PRODUCT_NAME
APP_IDENTIFIER = com.cnt.SwiftUI-Boilerplate // PRODUCT_BUNDLE_IDENTIFIER
APP_ICON_CATALOG = AppIconQA

APP_ENV = development
APP_ROOT_URL = https:\/\/picsum.photos
